
<h1 class="ui header centered">Billboard Charts</h1>
<%= link_to 'New billboard', new_billboard_path %>
<div class="ui divider"></div>
<h2>Welcome <%= current_user.first_name %></h2>
<br />
<div class="ui grid">
  <% @billboards.each do |billboard| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="image">
          <img src="https://tackleandlines.files.wordpress.com/2013/01/543621_10151001266261290_1182845659_n.jpg"/>
        </div>
        <div class="content">
           <%= link_to " #{billboard.title} ", billboard_path(billboard), class: " ui header centered" %>
        </div>
        <div class="extra content">
           <div class="ui three buttons">
             <button class= "ui blue basic button"><%= link_to 'Edit', edit_billboard_path(billboard) %></button>
              <div class= 'or'></div>
              <button class= "ui green basic button"><%= link_to 'View Chart', billboard_songs_path(billboard) %></button>
              <div class= 'or'></div>
              <button class="ui red basic button"><%= link_to 'Destroy', billboard, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "ui right floated blue button" %>
